@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css */
.rating {
  display: flex;
  justify-content: end;
}

.star {
  color: #999; /* Default star color */
}

.star-filled {
  color: #ffc107; /* Filled star color */
}

.hidden {
  display: none; /* Hide radio buttons */
}

@media only screen and (max-width: 640px) {
  .vedio-section {
    height: 300px; /* Set height to 300px on mobile devices */
  }
}

/* Tablet Devices (641px to 1024px) */
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .vedio-section {
    height: 400px; /* Set height to 400px on tablet devices */
  }
}

/* Desktop Devices (1025px and above) */
@media only screen and (min-width: 1025px) {
  .vedio-section {
    height: 500px; /* Set height to 500px on desktop devices */
  }
}